#settings{

}

#noter{
  display: inline-block;
  width:100%;
}

#noter div{
  width:49%;
  display: inline-block;
  font-size: 1.25em;
}

#noter button{
  width:45%;
  background: none;
  font-size: 1.25em;
}

#settings div{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1.25em;
}

#sFeed{
  background-color: map-get($colors,secondary);
}
