// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-title.toolbar-title-md,
.toolbar-title.toolbar-title-ios,
.toolbar-title.toolbar-title-wp { color: map-get($colors, black);
font-family: 'ComfortaaB';
font-size: 22px}


ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 75% 75%;
    mask-repeat: no-repeat;
    background: black;
    width: 1.25em;
    height: 1.25em;
  }

  &[class*="custom-food"] {
    mask-image: url(../assets/icon/foodAlert.png);
  }
}


@font-face {
    font-family: 'ComfortaaR';
    src: url(./../assets/fonts/Comfortaa-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'ComfortaaB';
  src: url(./../assets/fonts/Comfortaa-Bold.otf) format('opentype');
}

p, h1, h2, h3, h4, h5, h6, div {
    font-family: 'ComfortaaR';
}


hr {
    display: block;
    height: 1px;
    border: 0;
    color: black;
    border-top: 1px solid #000;
    margin: 0;
    padding: 0;
}

#main-header {
  padding: 1%;
  background: map-get($colors,primary);
}

#main-tool{
  text-align: center;
}

#title{
  padding-left: 5%;
  width:90%;
}

#ham{
}

#hamMain{
  background-color: map-get($colors,white);
  height: 100%;
}

#hamMain div{
  width: 100%;
  padding-bottom: 8%;
  padding-top: 8%;
  text-align: left;
  font-size: 1.25em;
}

.ham{
  width:10%;
	position: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5%;
  margin-left: 5%;
}
.ham-cal{
  content: url(./../assets/icon/cal.png);
}
.ham-fresh{
  content: url(./../assets/icon/fresh.png);
}

.ham-rott{
  content: url(./../assets/icon/rotten.png);
}

.ham-sett{
  content: url(./../assets/icon/settings.png);
}

.ham-cam{
  content: url(./../assets/icon/Camera.png);
}

#FA{
  content: url(./../assets/icon/foodAlert.png);
  width:10%;
  border:solid;
  display: inline;
}

.toolbar {
    max-height: 40px !important;
    height: 40px !important;
    min-height: 40px !important;
}

ion-nav {
    top: 45px;
    height: calc(100% - 40px);
}

#addFoot{
  background-color: #FFF;
  background: none;
}

#addFoot button{
  width: 15%;
  background-repeat: no-repeat;
	background-color: transparent;
	background-size: contain;
  padding:2%;
  background: contain;
  background-color: map-get($colors, primary);
  border-radius: 100% / 100%;
  box-shadow: 1px 2px 2px map-get($colors, ternary);
  margin:4%;
}

#addFoot img{
  content: url(./../assets/icon/Camera.png);
  text-align: center;
}
