// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-title.toolbar-title-md,
.toolbar-title.toolbar-title-ios,
.toolbar-title.toolbar-title-wp { color: map-get($colors, black); }

p, h1, h2, h3, h4, h5, h6 {
}

hr {
    display: block;
    height: 1px;
    border: 0;
    color: black;
    border-top: 1px solid #000;
    margin: 0;
    padding: 0;
}

#main-header {
  padding: 1%;
  background: map-get($colors,primary);
}

#main-tool{
  text-align: center;
}

#title{
  padding-right: 20%;
}

#ham{
}

#hamMain{
  background-color: map-get($colors,white);
  height: 100%;
}

#hamMain div{
  width: 100%;
  padding-bottom: 8%;
  padding-top: 8%;
  text-align: center;
  font-size: 1.25em;
}

.toolbar {
    max-height: 40px !important;
    height: 40px !important;
    min-height: 40px !important;
}

ion-nav {
    top: 45px;
    height: calc(100% - 40px);
}

#addFoot{
  background-color: #FFF;
  background: none;
}

#addFoot button{
  width: 15%;
  background-repeat: no-repeat;
	background-color: transparent;
	background-size: contain;
  padding:2%;
  background: contain;
  background-color: map-get($colors, primary);
  border-radius: 100% / 100%;
  box-shadow: 1px 2px 2px map-get($colors, ternary);
  margin:4%;
}

#addFoot img{
  content: url(./../assets/icon/Camera.png);
  text-align: center;
}
